
<head>
	<title>TBF swing</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel=stylesheet href="../../css/base.css"/>
</head>
<body>

<script src="../../js/Three.js"></script>
<script src="../../js/Detector.js"></script>
<script src="../../js/Stats.js"></script>
<script src="../../js/OrbitControls.js"></script>
<script src="../../js/THREEx.KeyboardState.js"></script>
<script src="../../js/THREEx.FullScreen.js"></script>
<script src="../../js/THREEx.WindowResize.js"></script>
<script src="../../js/libs/tween.min.js"></script>

<div id="ThreeJS" style="position: absolute; left:0px; top:0px"></div>
<script>
	/*
		Three.js "tutorials by example"
		Author: Lee Stemkoski
		Date: July 2013 (three.js v59dev)
	*/

	// MAIN

	// standard global variables
		var mouseX = 0, mouseY = 0,
			windowHalfX = window.innerWidth / 2,
			windowHalfY = window.innerHeight / 2;
		var container, scene, camera, renderer, controls, stats;
		var keyboard = new THREEx.KeyboardState();
		var clock = new THREE.Clock();
	//	

	// custom global variables
		var video, videoImage, videoImageContext, videoTexture, movieScreen;
	//

	//~ var targetList = [];
		var projector, mouse = { x: 0, y: 0 }, INTERSECTED;

		var tbfEvolving,
			tbfLogin,
			tbfDatos,
			tbfRails,
			tbfRealidad,
			tbfInteractive,
			tbfMapping,
			tbf360,
			tbfNull;
		init();
		animate();
	//

	// FUNCTIONS


	function init() 
	{
		// SCENE
		scene = new THREE.Scene();
		// CAMERA
		var SCREEN_WIDTH = window.innerWidth, SCREEN_HEIGHT = window.innerHeight;
		var VIEW_ANGLE = 50, ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT, NEAR = 0.1, FAR = 20000;
		camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR);
		scene.add(camera);
		camera.position.set(0,0,4.0);
		camera.lookAt(scene.position);	
		// RENDERER
		if ( Detector.webgl )
			renderer = new THREE.WebGLRenderer( {antialias:true} );
		else
			renderer = new THREE.CanvasRenderer(); 
		renderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);
		container = document.getElementById( 'ThreeJS' );
		container.appendChild( renderer.domElement );
		// EVENTS
		THREEx.WindowResize(renderer, camera);
		THREEx.FullScreen.bindKey({ charCode : 'm'.charCodeAt(0) });
		// CONTROLS
		controls = new THREE.OrbitControls( camera, renderer.domElement );

		// this material causes a mesh to use colors assigned to faces
		var faceColorMaterial = new THREE.MeshBasicMaterial( 
		{ color: 0xffffff, vertexColors: THREE.FaceColors } );
		
		
		var pathImage = 'images/tbfHome.jpg';
		var homeWidth = 3;
		var homeHeight = 3;
		var homeWidthSegments = 3;
		var homeHeightSegments = 3;

		//~ var tbfHomeTexture = THREE.ImageUtils.loadTexture('images/tbfHome.jpg');
		//~ var tbfHomeMaterial = new THREE.MeshBasicMaterial( { map: tbfHomeTexture, side:THREE.DoubleSide } );
		//~ var tbfHomePlane = new THREE.PlaneGeometry(homeWidth, homeHeight, homeWidthSegments, homeHeightSegments);
		//~ var tbfHome = new THREE.Mesh(tbfHomePlane, tbfHomeMaterial);
		//~ tbfHome.name = "allTbf";
		
		var allWidth = 1;
		var allHeight = 1;
		var stepZ = 0.0;
		var delta_Y = 0.1;
		
		// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>IMAGENES<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
		var tbfEvolvingTexture = THREE.ImageUtils.loadTexture('../../images/tbfEvolving.jpg');
		var tbfEvolvingMaterial = new THREE.MeshBasicMaterial( { map: tbfEvolvingTexture, side:THREE.DoubleSide } );
		var tbfEvolvingPlane = new THREE.PlaneGeometry(allWidth, allHeight);
		tbfEvolving = new THREE.Mesh(tbfEvolvingPlane, tbfEvolvingMaterial);
		tbfEvolving.name = "evolvingConcepts";
		tbfEvolving.position.set(-1.0,1.0 + delta_Y,stepZ);
		
		var tbfLoginTexture = THREE.ImageUtils.loadTexture('../../images/tbfLogin.jpg');
		var tbfLoginMaterial = new THREE.MeshBasicMaterial( { map: tbfLoginTexture, side:THREE.DoubleSide } );
		var tbfLoginPlane = new THREE.PlaneGeometry(allWidth, allHeight);
		tbfLogin = new THREE.Mesh(tbfLoginPlane, tbfLoginMaterial);
		tbfLogin.name = "login";
		tbfLogin.position.set(0.0,1.0  + delta_Y,stepZ);;
		
		var tbfDatosTexture = THREE.ImageUtils.loadTexture('../../images/tbfDatos.jpg');
		var tbfDatosMaterial = new THREE.MeshBasicMaterial( { map: tbfDatosTexture, side:THREE.DoubleSide } );
		var tbfDatosPlane = new THREE.PlaneGeometry(allWidth, allHeight);
		tbfDatos = new THREE.Mesh(tbfDatosPlane, tbfDatosMaterial);
		tbfDatos.name = "tbfDatos";
		tbfDatos.position.set(1.0,1.0  + delta_Y,stepZ);;
		
		var tbfRailsTexture = THREE.ImageUtils.loadTexture('../../images/tbfRails.jpg');
		var tbfRailsMaterial = new THREE.MeshBasicMaterial( { map: tbfRailsTexture, side:THREE.DoubleSide } );
		var tbfRailsPlane = new THREE.PlaneGeometry(allWidth, allHeight);
		tbfRails = new THREE.Mesh(tbfRailsPlane, tbfRailsMaterial);
		tbfRails.name = "rubyRails";
		tbfRails.position.set(-1.0,0.0  + delta_Y,stepZ);
		
		var tbfRealidadTexture = THREE.ImageUtils.loadTexture('../../images/tbfRealidad.jpg');
		var tbfRealidadMaterial = new THREE.MeshBasicMaterial( { map: tbfRealidadTexture, side:THREE.DoubleSide } );
		var tbfRealidadPlane = new THREE.PlaneGeometry(allWidth, allHeight);
		tbfRealidad = new THREE.Mesh(tbfRealidadPlane, tbfRealidadMaterial);
		tbfRealidad.name = "augmentedReality";
		tbfRealidad.position.set(0.0,0.0  + delta_Y,stepZ);
		
		
		var tbfInteractiveTexture = THREE.ImageUtils.loadTexture('../../images/tbfInteractive.jpg');
		var tbfInteractiveMaterial = new THREE.MeshBasicMaterial( { map: tbfInteractiveTexture, side:THREE.DoubleSide } );
		var tbfInteractivePlane = new THREE.PlaneGeometry(allWidth, allHeight);
		tbfInteractive = new THREE.Mesh(tbfInteractivePlane, tbfInteractiveMaterial);
		tbfInteractive.name = "ModulosInteractivos";
		tbfInteractive.position.set(1.0,0.0  + delta_Y,stepZ);
		
		var tbfMappingTexture = THREE.ImageUtils.loadTexture('../../images/tbfMapping.jpg');
		var tbfMappingMaterial = new THREE.MeshBasicMaterial( { map: tbfMappingTexture, side:THREE.DoubleSide } );
		var tbfMappingPlane = new THREE.PlaneGeometry(allWidth, allHeight);
		tbfMapping = new THREE.Mesh(tbfMappingPlane, tbfMappingMaterial);
		tbfMapping.name = "videoMapping";
		tbfMapping.position.set(-1.0,-1.0  + delta_Y,stepZ);
		
		var tbf360Texture = THREE.ImageUtils.loadTexture('../../images/tbf360.jpg');
		var tbf360Material = new THREE.MeshBasicMaterial( { map: tbf360Texture, side:THREE.DoubleSide } );
		var tbf360Plane = new THREE.PlaneGeometry(allWidth, allHeight);
		tbf360 = new THREE.Mesh(tbf360Plane, tbf360Material);
		tbf360.name = "tbf360";
		tbf360.position.set(0.0,-1.0  + delta_Y,stepZ);
		
		var tbfNullTexture = THREE.ImageUtils.loadTexture('../../images/tbfNull.jpg');
		var tbfNullMaterial = new THREE.MeshBasicMaterial( { map: tbfNullTexture, side:THREE.DoubleSide } );
		var tbfNullPlane = new THREE.PlaneGeometry(allWidth, allHeight);
		tbfNull = new THREE.Mesh(tbfNullPlane, tbfNullMaterial);
		tbfNull.name = "tbfPendiente";
		tbfNull.position.set(1.0,-1.0  + delta_Y,stepZ);
		// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>FIN IMAGENES<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


		//~ scene.add(tbfHome);
		scene.add(tbfEvolving);
		scene.add(tbfLogin);
		scene.add(tbfDatos);
		scene.add(tbfRails);
		scene.add(tbfRealidad);
		scene.add(tbfInteractive);
		scene.add(tbfMapping);
		scene.add(tbf360);
		scene.add(tbfNull);

		//---------ADD A VIDEO------------------
			// create the video element
			video = document.createElement( 'video' );
				// video.id = 'video';
				// video.type = ' video/ogg; codecs="theora, vorbis" ';
			video.src = "../../videos/tbffinal.ogv";
			//sobras
				//~ video.src = "videos/tbffinal.mp4";
				//~ video.load(); // must call after setting/changing source
				//~ video.play();
				
				// alternative method -- 
				// create DIV in HTML:
				// <video id="myVideo" autoplay style="display:none">
				//		<source src="videos/sintel.ogv" type='video/ogg; codecs="theora, vorbis"'>
				// </video>
				// and set JS variable:
				// video = document.getElementById( 'myVideo' );
			// fin sobras	
			
			videoImage = document.createElement( 'canvas' );
			videoImage.width = 960;
			videoImage.height = 540;

			videoImageContext = videoImage.getContext( '2d' );
			// background color if no video present
			videoImageContext.fillStyle = '#000000';
			videoImageContext.fillRect( 0, 0, videoImage.width, videoImage.height );

			videoTexture = new THREE.Texture( videoImage );
			videoTexture.minFilter = THREE.LinearFilter;
			videoTexture.magFilter = THREE.LinearFilter;
			
			var movieMaterial = new THREE.MeshBasicMaterial( { map: videoTexture, overdraw: true, side:THREE.DoubleSide } );
			// the geometry on which the movie will be displayed;
			// 		movie image will be scaled to fit these dimensions.
			var movieGeometry = new THREE.PlaneGeometry( 5, 3, 1, 1 );
			movieScreen = new THREE.Mesh( movieGeometry, movieMaterial );
			movieScreen.position.set(0,0,1);
			movieScreen.name = "movieScreen";
			//~ scene.add(movieScreen);
			//////////////////////////////////////////////////////////////////////
		//-------Fin Video----------

		// initialize object to perform world/screen calculations
		projector = new THREE.Projector();
		
		// when the mouse moves, call the given function
		document.addEventListener( 'mousedown', onDocumentMouseDown, false );
		document.addEventListener( 'mousemove', onDocumentMouseMove, false );
		document.addEventListener( 'mouseup', onDocumentMouseUp, false );
		window.addEventListener( 'resize', onWindowResize, false );

		/////// draw text on canvas /////////

		// create a canvas element
			canvas1 = document.createElement('canvas');
			context1 = canvas1.getContext('2d');
			context1.font = "Bold 20px Arial";
			context1.fillStyle = "rgba(0,0,0,0.95)";
		    context1.fillText('Hello, world!', 0, 20);
	    // termian la creacion de canvas

		// canvas contents will be used for a texture
			texture1 = new THREE.Texture(canvas1) 
			texture1.needsUpdate = true;
		//

		////////////////////////////////////////
		
		var spriteMaterial = new THREE.SpriteMaterial( { map: texture1, useScreenCoordinates: true, alignment: THREE.SpriteAlignment.topLeft } );
		
		sprite1 = new THREE.Sprite( spriteMaterial );
		sprite1.scale.set(200,100,1.0);
		sprite1.position.set( 50, 50, 0 );
		scene.add( sprite1 );

		//////////////////////////////////////////	
	}

	function onWindowResize() {

		windowHalfX = window.innerWidth / 2;
		windowHalfY = window.innerHeight / 2;

		camera.aspect = window.innerWidth / window.innerHeight;
		camera.updateProjectionMatrix();

		renderer.setSize( window.innerWidth, window.innerHeight );

	}

	function onDocumentMouseDown( event ) 
	{
		// the following line would stop any other event handler from firing
		// (such as the mouse's TrackballControls)
		event.preventDefault();
		
		console.log("Click.");
		
		// update the mouse variable
		//~ mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1;
		//~ mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
		
		// find intersections

		// create a Ray with origin at the mouse position
		//   and direction into the scene (camera direction)
		var vector = new THREE.Vector3( mouse.x, mouse.y, 1 );
		projector.unprojectVector( vector, camera );
		var ray = new THREE.Raycaster( camera.position, vector.sub( camera.position ).normalize() );

		// create an array containing all objects in the scene with which the ray intersects
		//~ var intersects = ray.intersectObjects( targetList );
		var intersects = ray.intersectObjects( scene.children);
		
		// if there is one (or more) intersections
		if ( intersects.length > 0 )
		{
			console.log("Hit @ " + toString( intersects[0].point ) );
			// change the color of the closest face.
			//~ intersects[ 0 ].face.color.setRGB( 0.8 * Math.random() + 0.2, 0, 0 );
			//~ intersects[ 0 ].object.geometry.colorsNeedUpdate = true;
			//~ intersects[ 0 ].face.color.setRGB( 1.0, 0, 0 );
			//~ faceIndex = intersects[0].faceIndex ;
			//~ if(faceIndex % 2 == 0){
				//~ face = intersects[ 0 ].object.geometry.faces[faceIndex];
				//~ face.color.setRGB(1.0,0,0);
				//~ face = intersects[ 0 ].object.geometry.faces[ faceIndex + 1];
				//~ face.color.setRGB(1.0,0,0);
			//~ } else {
				//~ face = intersects[ 0 ].object.geometry.faces[faceIndex];
				//~ face.color.setRGB(1.0,0,0);
				//~ face = intersects[ 0 ].object.geometry.faces[ faceIndex - 1];
				//~ face.color.setRGB(1.0,0,0);				
			//~ }
				
			//~ face = intersects[ 0 ].object.geometry.faces[0];
			//~ face.color.setRGB(1.0,0,0);
			//~ face = intersects[ 0 ].object.geometry.faces[1];
			//~ face.color.setRGB(1.0,0,0);
			var selectedObject = intersects[ 0 ].object.name;
			if(selectedObject == "evolvingConcepts"){
				//~ document.location.href = "http://tbf.mx";
				scene.add(movieScreen);
				video.load(); // must call after setting/changing source
				video.play();
				
				if ( video.readyState === video.HAVE_ENOUGH_DATA ) 
				{
					videoImageContext.drawImage( video, 0, 0 );
					if ( videoTexture ) 
						videoTexture.needsUpdate = true;
				}
				
				videoTexture.needsUpdate = true;
			}else if(selectedObject == "login"){
				tweenAllFade();
				document.location.href = "http://tbf.mx/contacto/index";
			}else if(selectedObject == "movieScreen"){
				video.pause();
				video.currentTime = 0;
				scene.remove(movieScreen);
			}
			
			intersects[ 0 ].object.geometry.colorsNeedUpdate = true;
		}

	}

	function tweenAllFade(){
		tweenFade(tbfEvolving);
		tweenFade(tbfLogin);
		tweenFade(tbfDatos);
		tweenFade(tbfRails);
		tweenFade(tbfRealidad);
		tweenFade(tbfInteractive);
		tweenFade(tbfMapping);
		tweenFade(tbf360);
		tweenFade(tbfNull);
	}

	function tweenFade(aObject){
		new TWEEN.Tween(aObject.position).to( {
							x: Math.random() * 12 - 6,
							y: Math.random() * 12 - 6,
							z: Math.random() * 12 - 6}, 2000 )
						.easing( TWEEN.Easing.Elastic.Out).start();
						
		new TWEEN.Tween(aObject.rotation ).to( {
							x: Math.random() * 2 * Math.PI,
							y: Math.random() * 2 * Math.PI,
							z: Math.random() * 2 * Math.PI }, 2000 )
						.easing( TWEEN.Easing.Elastic.Out).start();
	}

	//~ function tweenJoin(aObject,position){
		//~ new TWEEN.Tween(aObject.position).to( {
							//~ x: position.x,
							//~ y: position.y,
							//~ z: position.z, 2000 )
						//~ .easing( TWEEN.Easing.Elastic.Out).start();
						//~ 
		//~ new TWEEN.Tween(aObject.rotation ).to( {
							//~ x: 0,
							//~ y: 0,
							//~ z: 1, 2000 )
						//~ .easing( TWEEN.Easing.Elastic.Out).start();
	//~ }



	function toString(v) { return "[ " + v.x + ", " + v.y + ", " + v.z + " ]"; }

	function onDocumentMouseMove( event ) 
	{
		// the following line would stop any other event handler from firing
		// (such as the mouse's TrackballControls)
		event.preventDefault();

		// update sprite position
		sprite1.position.set( event.clientX, event.clientY - 20, 0 );
		
		//~ // update the mouse variable
		mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1;
		mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
		
	}

	function onDocumentMouseUp( event ) {

		event.preventDefault();
		controls.enabled = true;

		if (INTERSECTED) {
			plane.position.copy( INTERSECTED.position );
			SELECTED = null;
		}
		container.style.cursor = 'auto';
	}

	function animate() 
	{
	    requestAnimationFrame( animate );
		render();		
		update();
	}

	function update()
	{
		
		if ( keyboard.pressed("p") )
			video.play();
			
		if ( keyboard.pressed("space") )
			video.pause();

		if ( keyboard.pressed("s") ) // stop video
		{
			video.pause();
			video.currentTime = 0;
		}
		
		if ( keyboard.pressed("r") ) // rewind video
			video.currentTime = 0;
			// create a Ray with origin at the mouse position
		//   and direction into the scene (camera direction)
		var vector = new THREE.Vector3( mouse.x, mouse.y, 1 );
		projector.unprojectVector( vector, camera );
		var ray = new THREE.Raycaster( camera.position, vector.sub( camera.position ).normalize() );

		// create an array containing all objects in the scene with which the ray intersects
		var intersects = ray.intersectObjects( scene.children );

		// INTERSECTED = the object in the scene currently closest to the camera 
		//		and intersected by the Ray projected from the mouse position 	
		
		// if there is one (or more) intersections
		if ( intersects.length > 0 )
		{
			// if the closest object intersected is not the currently stored intersection object
			if ( intersects[ 0 ].object != INTERSECTED ) 
			{
			    // restore previous intersection object (if it exists) to its original color
				if ( INTERSECTED ) 
					INTERSECTED.material.color.setHex( INTERSECTED.currentHex );
				// store reference to closest object as current intersection object
				INTERSECTED = intersects[ 0 ].object;
				// store color of closest object (for later restoration)
				INTERSECTED.currentHex = INTERSECTED.material.color.getHex();
				// set a new color for closest object
				INTERSECTED.material.color.setHex( 0xffff00 );
				
				// update text, if it has a "name" field.
				if ( intersects[ 0 ].object.name )
				{
				    context1.clearRect(0,0,640,480);
					var message = intersects[ 0 ].object.name;
					var metrics = context1.measureText(message);
					var width = metrics.width;
					context1.fillStyle = "rgba(0,0,0,0.95)"; // black border
					context1.fillRect( 0,0, width+8,20+8);
					context1.fillStyle = "rgba(255,255,255,0.95)"; // white filler
					context1.fillRect( 2,2, width+4,20+4 );
					context1.fillStyle = "rgba(0,0,0,1)"; // text color
					context1.fillText( message, 4,20 );
					texture1.needsUpdate = true;
				}
				else
				{
					context1.clearRect(0,0,300,300);
					texture1.needsUpdate = true;
				}
			}
		} 
		else // there are no intersections
		{
			// restore previous intersection object (if it exists) to its original color
			if ( INTERSECTED ) 
				INTERSECTED.material.color.setHex( INTERSECTED.currentHex );
			// remove previous intersection object reference
			//     by setting current intersection object to "nothing"
			INTERSECTED = null;
			context1.clearRect(0,0,300,300);
			texture1.needsUpdate = true;
		}
		
		controls.update();
		//~ stats.update();
	}

	function render() 
	{
		TWEEN.update();
		if ( video.readyState === video.HAVE_ENOUGH_DATA ) 
		{
			videoImageContext.drawImage( video, 0, 0 );
			if ( videoTexture ) 
				videoTexture.needsUpdate = true;
		}
		//~ camera.position.x += ( mouseX - camera.position.x ) * .05;
		//~ camera.position.y += ( - mouseY + 2 - camera.position.y ) * .05;
		camera.position.x += ( mouse.x - camera.position.x ) * .05;
		camera.position.y += ( - mouse.y - camera.position.y ) * .05;

		camera.lookAt( scene.position );

		renderer.render( scene, camera );
	}

</script>

</body>
